
#root{
	
	-fx-padding: 10;
	-fx-background-color: rgba(255.0, 0.0, 0.0, 0.7);
	
}

#lblText{
	
	-fx-font-size: 40;
	-fx-font-family: "Arial red";
	-fx-font-weight:  bold;
	-fx-text-fill: linear-gradient(to right,black,white)
}